@model EscolhedorAlmoco.Models.RestauranteFiltro

@{
    ViewBag.Title = "Incluir Restuarante";
}

<div class="jumbotron">
    <h2>Incluir Restuarante</h2>
</div>

<div>
    <section style="width: 320px;">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()

        <fieldset>
            <div>
                @Html.LabelFor(model => model.Nome)
            </div>
            <div>
                @Html.TextBoxFor(model => model.Nome, new { @class = "required" })
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
            <div>
                @Html.LabelFor(model => model.Apelido)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Apelido, new { @class = "required" })
                @Html.ValidationMessageFor(model => model.Apelido)
            </div>
            <div>
                @Html.Label("Endereço")
            </div>
            <div>
                @Html.TextBoxFor(model => model.Endereco, new { @class = "required", @style = "width: 300px;" })
                @Html.ValidationMessageFor(model => model.Endereco)
            </div>
            <div>
                @Html.Label("Observação")
            </div>
            <div>
                @Html.TextBoxFor(model => model.Observacao, new { @style = "width: 300px;" })
                @Html.ValidationMessageFor(model => model.Observacao)
            </div>
            <div style="margin-top: 10px;">
                <table style="width: 400px;">
                    <tr>
                        <td>
                            @Html.Label("Custo")
                        </td>
                    </tr>
                    <tr>
                        @foreach (var item in Model.CustosDisponiveis)
                        {
                            <td style="padding-right: 10px;">
                                <input type="checkbox"
                                       name="CustosSelecionados"
                                       checked="@Model.CustosSelecionados.Contains(Int32.Parse(item.Value))"
                                       value="@item.Value" /> @item.Text
                            </td>
                        }
                    </tr>
                    <tr>
                        <td style="padding-top: 10px;">
                            @Html.Label("Tipo")
                        </td>
                    </tr>
                    <tr>
                        @foreach (var item in Model.TiposDisponiveis)
                        {
                            <td style="padding-right: 10px;">
                                <input type="checkbox"
                                       name="TiposSelecionados"
                                       checked="@Model.TiposSelecionados.Contains(Int32.Parse(item.Value))"
                                       value="@item.Value" /> @item.Text
                            </td>
                        }
                    </tr>
                    <tr>
                        <td style="padding-top: 10px;">
                            @Html.Label("Veto")
                        </td>
                    </tr>
                    <tr>
                        @foreach (var item in Model.VetosDisponiveis)
                        {
                            <td style="padding-right: 10px;">
                                <input type="checkbox"
                                       name="VetosSelecionados"
                                       checked="@Model.VetosSelecionados.Contains(Int32.Parse(item.Value))"
                                       value="@item.Value" /> @item.Text
                            </td>
                        }
                    </tr>
                </table>
            </div>
            <br />
            <p>
                <input type="submit" class="float-right" style="margin-right: 10px;" value="Salvar" />
                <input type="button" class="float-right" value="Cancelar" />
            </p>
        </fieldset>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <style type="text/css">
        body {
            overflow: hidden;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Nome").focus();

            //$('form').submit(function () {
            //    $('#btnSubmit').attr("disabled", "disabled");
            //});
        });

        $("#btnClean").click(function () {
            document.location.reload(true);
        });
    </script>
}